@import "../../style.scss";

.sUser {
  @include themify($themes){
    padding:20px;
    width: 95%;
    
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    background-color:themed('bgSoft') ;

    .seeAll{
      display: flex;
      width:100%;
      height: fit-content;
      justify-content: center;
      align-items: center;
      
      button{
        border:none;
        font-size:18px;
        height:45px;
        width:95%;
        padding:10px;
        background-color: hsl(255,90%,66%);
        border-radius: 10px;
        color:#fff;
        cursor: pointer;
        transition: all .3s linear;
        &:hover{
          background-color: hsl(255,90%,60%);
        }
      }
    }
    
    &__profiles {
      background-color:themed('bgSoft');
      border-radius: 0 0 12px 12px;
      padding: 0px 15px 20px;
      display: grid;
      row-gap: 15px;
      width: 95%;
    }
    
    &__profile {
      display: grid;
      grid-template-columns: 1fr 6fr 1fr;
      align-items: center;
      padding: 10px 30px 10px 10px;
      overflow: hidden;
      border-radius: 10px;
      box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23);
      cursor: pointer;
      transition: transform .25s cubic-bezier(.7,.98,.86,.98), box-shadow .25s cubic-bezier(.7,.98,.86,.98);
      background-color: themed('bg');
      
      
    }
    
    &__picture {
      height: 60px;
      width: 60px;
      border-radius: 50%;
      box-shadow: 0 0 0 10px themed('bgSoft'), 0 0 0 22px themed('bg');
    }
    
    &__name {
      color: themed('textColor');
      font-weight: 600;
      font-size: 18px;
      letter-spacing: 0.64px;
      margin-left: 12px;
      .sUser_address{
        color:hsl(255,20%,70%);
        font-size:14px;
        font-weight: 500;
      }
    }
    
    
      

      .btnFollow{
        width:150px;
        height:40px;
        border:none;
        border-radius: 10px;
        font-size: 16px;
        background-color: hsl(255,10%,90%);
        transition: all .2s ease;
        
        padding:5px;
        &:focus{
          outline: none;
        }
        &:hover{
          background-color: hsl(255,50%,95%);
        }
      }
  }
}