@import "../../style.scss";

.profile {
  @include themify($themes) {
    background-color: themed("bgSoft");
    width: 50vw;
    .profilePic {
      width: 190px;
      height: 190px;
      z-index: 1;
      border-radius: 20px;
      object-fit: cover;
      
      
    }
    .images {
      width: 100%;
      height: 200px;
      position: relative;

      .cover {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .profileContainer {
      padding: 20px 30px;
      position: relative;
      z-index: 0;
      .button-profile{
        grid-column: 1 / span 3;
        grid-row: 3;
        height: fit-content;
        width: fit-content;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap:15px;
        z-index: 2;
        button{
        height: 40px;
        width: 170px;
        border-radius: 10px;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        color: hsl(255,90%,99%);
        
        font-size: 18px;
        background-color: hsl(250,100%,80%);
        }
      }

      @include mobile{
        padding: 10px;
      }

      @include tablet{
        padding: 20px;
      }

      .uInfo {
        height: 220px;
        -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
        -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
        box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
        border-radius: 20px;
        background-color: themed("bg");
        color: themed("textColor");
        padding: 10px 40px;
        display: grid;
        column-gap: 20px;
        grid-template-columns: 200px 5fr 2fr;
        grid-template-rows: 1fr;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        
        @include mobile{
          flex-direction: column;
          height: 30vh;
          padding: 20px;
          margin-top: 100px;
        }

        

        .center {
          grid-row: 1;
          grid-column: 2 / span 3;
          display: grid;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 10px;
          
          .userName{
            font-size: 30px;
            color:hsl(255,10%,10%);
            font-weight: 600;
            display: flex;
            flex-direction: column;
            .location{
              font-size: 15px;
              color: themed('textColorSoft');
            }
          }

          .info {
            width: 100%;
            height: fit-content;
            background-color: hsl(255,20%,94%);
            display: grid;
            grid-row: 2;
            grid-column: 1 / span 3;
            padding:10px;
            border-radius: 10px;
            grid-template-columns: 4fr 6fr 4fr;
            align-items: center;
            font-weight: 550;
            gap:5px;
            gap:15px;
            justify-content: space-around;
            margin: 0;
            

            .item {
              display: flex;
              align-items: center;
              flex-grow: 1;
              flex-direction: column;
              gap: 5px;
              font-size: 16px;

              color:themed('textColorSoft');
              font-weight: 500;
              span {
                font-size: 18px;
                color:hsl(255,40%,60%);

              }
            }
          }
          button {
            border: none;
            background-color: #5271ff;
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            width: 80%;
          }
        }

        .right {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          gap: 10px;
        }
      }
    }
  }
}
