@import "../../style.scss";

.navbar {
  @include themify($themes) {
    display: grid;
    grid-template-columns: 2fr 4fr 1fr;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 50px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: sticky;
    top: 0;
    background-color: themed("bg");
    color:themed("textColor");
    z-index: 99;
    @include mobile{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content:space-between;
      height: 35px;
    }

    .left {
      display: flex;
      align-items: center;
      gap: 30px;
      .menu{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        width:300px;
        span {
          font-weight: bold;
          font-size: 20px;
          color: themed("logo");
        }
        @include mobile{
          justify-content: flex-start;
          align-items: center;
          gap:15px;
        }
      }
      
    }

    .search {
      display: flex;
      align-items: center;
      gap: 10px;
      
      border-radius: 5px;
      padding: 7px;
      width: 500px;
      height:30px;
      background-color: themed('bgInput');
      border-radius: 20px;
      @include mobile{
        width: 30px;
        height: 30px;
        background-color: themed('bg');
      }
      svg{
        transition: all .2s ease;
      }
      &:hover{
        svg{
          color: hsl(255,19%,70%);
        }
      }
      input {
        border: none;
        width:100%;
        height: 100%;
        border:none;
        background-color:themed('bgInput');
        color: themed("textColor");
        font-size: 16px;
        &:focus{
          outline: none;
          border: none;
        }
        @include mobile{
          display: none;
        }

        @include tablet{
          width: 200px;
        }
      }
    }

    .right {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;

      @include mobile{
        display: none;
      }



      .user {
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: center;
        font-weight: 500;

        

        @include tablet{
          display: none;
        }

        button{
          height:40px;
          width: 110px;
          border:none;
          font-size: 16px;
          color: hsl(255,50%,95%);
          background-color: hsl(255,99%,70%);
          border-radius: 20px;
          
          &:focus{
            border: none;
            outline: none;
          }
        }

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
  }
}
